@using web.railgun.com.Models
@model IEnumerable<Category>

@{
    var count1 = 0;
    var att1 = "active";


    var count2 = 0;
    var att2 = "in active";
}



<section id="more-service" class="bm50">
    <div class="container">
        <div class="section-padding text-center">
            <h1 class="tm0"> @*<em>*@WEBSITES,@*</em>*@  MOBILE APPLICATIONS, <span>ECOMMERCE</span>, INTERACTIVE DASHBOARDS </h1>
            <p class="section-description">
                Build the system your business needs with the features you want, all fully aligned to the latest development standards and technologies.
            </p>
            @*<div class="btn-container">
                <a href="#" class="btn md-btn">
                    Contact Us Now <i class="fa fa-envelope"></i>
                </a>

                <a href="~/images/ProjectImages/GrindBackOfHouse/graphic1.jpg" class="btn md-btn">
                    Purchase it Now  <i class="fa fa-shopping-cart"></i>
                </a>
            </div>*@
        </div>

        @*<div class="section-padding">
                <div class="title-container text-center">
                    <h2 class="striped-title">
                        Railgun <span>Products</span>
                        <span class="stripe-t-left"></span>
                        <span class="stripe-t-back"></span>
                        <span class="stripe-t-right"></span>
                    </h2>
                    <p class="section-description">
                        there are some secondaries as well as our main services, you can read about them below.
                    </p>
                </div>
            </div>*@
        <!-- Tabs version 1 Style -->

        


        <div class="tabs-container tv1">
            <ul class="nav nav-tabs" role="tablist">


                @{
                    foreach (var cat in Model)
                    {
                        var id = "#tab" + cat.CategoryId;

                        <li><a href="@id" @if (count1 == 0) { @att1 } role="tab" data-toggle="tab">@cat.Name</a></li>

count1++;
                    }


                    @*<li><a href="#tab1" role="tab" data-toggle="tab">Website Designing</a></li>
                        <li class="active"><a href="#tab2" role="tab" data-toggle="tab">Website Development</a></li>
                        <li><a href="#tab3" role="tab" data-toggle="tab">Search Engine Optimization</a></li>
                        <li><a href="#tab4" role="tab" data-toggle="tab">Speed Optimization</a></li>
                        <li><a href="#tab5" role="tab" data-toggle="tab">Worldwide Branding</a></li>
                        <li><a href="#tab6" role="tab" data-toggle="tab">Social Media Marketing</a></li>
                        <li><a href="#tab7" role="tab" data-toggle="tab">clients Support</a></li>*@

                }

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                @{
                    foreach (var cat in Model)
                    {
                        var id = "tab" + cat.CategoryId;
                        <div class="tab-pane fade @if(count2 == 0){@att2}" id="@id">
                            <img class="tab-image pull-right" src="@cat.LogoURL" alt="tab-image">
                            <h4 class="tm0">@cat.Name</h4>
                            <p>
                                @Html.Raw(cat.BuildSynopsis)
                            </p>                           
                        </div>

                                                  count2++;
                    }
                }
               

            </div><!-- /.tab-content -->
        </div><!-- /.tabs-container tv1 -->
        <!-- Tabs version 1 Style End -->


    </div><!-- /.container -->
</section><!-- /#more-service -->
