@using web.railgun.com.Models
@model IEnumerable<Project>

@{
    ViewBag.Title = "Projects";
    var lastPickedID = ViewBag.LastId;

    var cats = (IEnumerable<Category>)ViewBag.Categories;

    var repeatCount = 2;
    var class1 = "item cat-2 cat-4";
    var class1_1 = "col-md-4";

    var class2 = "item cat-3 cat-4 cat-1";
    var class2_2 = "col-md-4 pull-right md-no-pull";

    var standardAjaxOps = new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST" };

    var active = "active";

}
<!-- Page Header Section  -->
<section id="site-page-header" class="site-page-header blog-header polygon-bg">
    <div class="overlay-effects box-pattern index-1"></div>
    <div class="container">
        <div class="page-header-content display-table-middle">
            <div class="inside-content vertical-middle">
                <h1 class="page-title text-center highlighted"><span style="color:white">Railgun.it</span> portfolio</h1>
                <h3 class="page-description text-center">you can take a look at some of our latest projects here</h3>
            </div>
        </div><!--  /.page-header-content -->
        <div class="site-breadcrumb pull-right">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><a href="#">Portfolio</a></li>

            </ol>
        </div>
    </div><!--  /.container -->
</section><!-- /#page-header  -->
<!-- Page Header Section End -->
<!-- Works Section -->
<section id="works" class="clearfix">
    <div class="container">
        <div class="section-padding">
            <div class="title-container text-center">
                <h2 class="striped-title">
                    Recent <span>Work</span>
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description">
                    see what we can do for your business today!
                </p>
            </div><!-- /.title-container -->

            <div class="text-center tm30 bm30 portfolioFilter v2">
                <a href="~/Home/Projects" data-filter="*" class="@{if (lastPickedID == 0)
                                                                   { @active }} btn sm-btn rbtn has-badge filter-btn">All<span class="badge">@cats.Count()</span> </a>

                @{
                    foreach (var cat in cats)
                    {
                        var catName = cat.Name;

                        var activeCss = "btn sm-btn rbtn has-badge filter-btn";

                        if (cat.CategoryId == lastPickedID)
                        {
                            activeCss = "active btn sm-btn rbtn has-badge filter-btn";
                        }

                        <a href="~/Home/Projects?id=@cat.CategoryId" class="@activeCss">@cat.Name</a>

                        @*@Html.ActionLink(catName, "Projects", "Home", new { id = cat.CategoryId }, new { @class = @activeCss }) ;*@
                    }
                }
                @*<a href="#" data-filter=".cat-1" class=" btn sm-btn rbtn has-badge filter-btn">Web Design<span class="badge">4</span> </a>*@


            </div>

            <div class="portfolio-item">


                @{
                    foreach (var project in Model)
                    {
                        var style = repeatCount % 2 == 0 ? class1 : class2;
                        var style2 = repeatCount % 2 == 0 ? class1_1 : class2_2;

                        <div class="@style">
                            <div class="row">

                                <div class="@style2">

                                    <div style="padding:3px">
                                        <div class="portfolio-item border-style md-bm30 md-bm30">
                                            <figure>
                                                <img src="@project.Graphic1" alt="project Image">
                                                <div class="item-link">
                                                    <a class="project-link" href="@project.ProjectURL"><i class="fa fa-link"></i></a>
                                                    <a class="zoom-link boxer" href="@project.Graphic1" title="@project.Name"><i class="fa fa-search-plus"></i></a>
                                                </div><!-- /.item-link -->
                                                <figcaption class="item-description">
                                                    <h4 class="item-title">
                                                        @project.Name
                                                    </h4><!-- /.item-title -->
                                                    @*<span class="item-category">
                                                            @project.Clients
                                                            <span class="numbers"> 100 <i class="fa fa-heart"></i> </span>
                                                        </span>*@
                                                    <!-- /.item-category -->
                                                </figcaption>
                                            </figure>
                                        </div><!-- /.portfolio-item -->
                                    </div>

                                    @if (project.Graphic2 != null && project.Graphic2 != "")
                                    {
                                        <div style="padding:3px">
                                            <div class="portfolio-item border-style md-bm30 md-bm30">
                                                <figure>
                                                    <img src="@project.Graphic2" alt="project Image">
                                                    <div class="item-link">
                                                        <a class="project-link" href="@project.ProjectURL"><i class="fa fa-link"></i></a>
                                                        <a class="zoom-link boxer" href="@project.Graphic2" title="@project.Name"><i class="fa fa-search-plus"></i></a>
                                                    </div><!-- /.item-link -->
                                                    <figcaption class="item-description">
                                                        <h4 class="item-title">
                                                            @project.Name
                                                        </h4><!-- /.item-title -->
                                                        @*<span class="item-category">
                                                                @project.Clients
                                                                <span class="numbers"> 100 <i class="fa fa-heart"></i> </span>
                                                            </span>*@
                                                        <!-- /.item-category -->
                                                    </figcaption>
                                                </figure>
                                            </div><!-- /.portfolio-item -->
                                        </div>
                                    }



                                </div><!-- /.col-md-6 -->

                                <div class="col-md-4">
                                    <div class="stripe-full bm50">
                                        <h4 class="stripe-over stripe-blue tm0">
                                            Project <span>Description</span>
                                        </h4>
                                    </div><!-- /.stripe-full -->

                                    <div class="post-container project-description">
                                        <p>
                                            @Html.Raw(project.Description)
                                        </p>
                                    </div><!-- /.project-description -->
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-4">
                                    <div class="stripe-full bm50">
                                        <h4 class="stripe-over stripe-blue tm0">
                                            Project: <span>@project.Name</span>
                                        </h4>
                                        @*<div class="project-like">138 <i class="fa fa-heart-o"></i></div>*@
                                    </div><!-- /.stripe-full -->
                                    <ul class="project-meta">
                                        <li>
                                            <span class="meta-icon"><i class="fa fa-tag"></i></span>
                                            <span class="meta-name">Categories</span>
                                            <span class="meta-text pull-right">@project.Categories</span>
                                        </li>
                                        <li>
                                            <span class="meta-icon"><i class="fa fa-pencil"></i></span>
                                            <span class="meta-name">Team Lead</span>
                                            <span class="meta-text pull-right">@project.TeamLead</span>
                                        </li>
                                        <li>
                                            <span class="meta-icon"><i class="fa fa-calendar"></i></span>
                                            <span class="meta-name">Date Initiated</span>
                                            <span class="meta-text pull-right"><time datetime="2014-12-14 19:00">@(((DateTime)project.DateInitiated).ToString("dd/MM/yyyy"))</time></span>
                                        </li>
                                        <li>
                                            <span class="meta-icon"><i class="fa fa-users"></i></span>
                                            <span class="meta-name">Clients</span>
                                            <span class="meta-text pull-right">@project.Clients</span>
                                        </li>
                                        <li>
                                            <span class="meta-icon"><i class="fa fa-briefcase"></i></span>
                                            <span class="meta-name">Tech</span>
                                            <span class="meta-text pull-right dotdot">@project.TechnologiesUsed</span>
                                        </li>
                                    </ul>
                                    <div>
                                        <a href="@project.ProjectURL" class="btn full-btn md-btn">Launch Project Website <i class="fa fa-rocket"></i></a>
                                    </div>
                                    <div>
                                        <a href="~/Home/Project?ProjectId=@project.ProjectId" class="btn full-btn md-btn">Read More <i class="fa fa-search"></i></a>
                                    </div>
                                </div><!-- /.col-md-4 -->
                            </div><!-- /.row -->
                            <hr class="tm30 bm50">
                        </div><!-- /.item -->

                                    repeatCount++;
                    }
                }


                <!--End repeat-->

                <hr class="tm50">
            </div><!-- /#portfolio-item -->
        </div><!-- /.section-padding -->
    </div><!-- /.container -->
</section><!-- /#works -->
<!-- Works Section End -->


<section id="clients" class="clearfix clients">
    <div class="container">
        <div class="section-padding tp0">
            <div class="title-container text-center">
                <h2 class="striped-title tm0">
                    our happy <span>clients</span>
                    <span class="stripe-t-left"></span>
                    <span class="stripe-t-back"></span>
                    <span class="stripe-t-right"></span>
                </h2>
                <p class="section-description">
                    We tend to work for innovative, disruptive businesses, all of whom are repeat clients. Ask them about how Railgun.it projects helped their business!
                </p>
            </div><!-- /.title-container -->


            <div class="owl-container">
                <div class="carousel-navigator text-center">
                    <button class="btn nav-btn sm-btn rbtn prev"><i class="fa fa-long-arrow-left"></i></button>
                    <button class="btn nav-btn sm-btn rbtn next"><i class="fa fa-long-arrow-right"></i></button>
                </div>
                <div id="clients-logo-carousel" class="logo-carousel owl-carousel pt50" data-pagination="false" data-screenitems="[[0, 1], [400, 2], [700, 3], [1000, 5], [1200, 6]]" data-items="6" data-autoplay="3000">

                    @{
                        foreach (var project in Model)
                        {
                            <div class="item">
                                <div class="item-content">
                                    <a href="@project.CompanyURL">
                                        <img src="@project.Logo" alt="@project.Name Logo">
                                    </a>
                                </div>
                            </div>

                        }
                    }

                </div><!-- /#clients-logo-carousel -->

            </div><!-- /.owl-slider -->

        </div><!-- /.section-padding -->
    </div><!-- /.container -->
</section><!-- /#clients -->
